#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.date-selector {
  display: none;
}

.open {
  display: block;
}

.date-selector__wrapper {
  display: grid;
  grid-template-columns: 50% 20% 30%;
  grid-template-rows: min-content;
  grid-template-areas: "year-title month-title day-title" "year month day";
  
  margin-bottom: 2rem;
  border: 1px solid #ccc;
}

.date-selector__wrapper__year {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-area: year;
}

.date-selector__wrapper__year__column-index {
  display: grid;
  grid-area: year-title;
}

.date-selector__wrapper__year__century {
  display: grid;
  grid-template-rows: 3;
}

.date-selector__wrapper__year__decade {
  display: grid;
  grid-template-rows: 3;
}

.date-selector__wrapper__year__year {
  display: grid;
  grid-template-rows: 3;
}

.date-selector__wrapper__month {
  display: grid;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  grid-area: month;
}

.date-selector__wrapper__month__column-index {
  display: grid;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  grid-area: month-title;
}

.date-selector__wrapper__day {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-area: day;
}

.date-selector__wrapper__day__column-index {
  display: grid;
  grid-area: day-title;
}

.date-selector__wrapper__day__doze {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.date-selector__wrapper__day__day {
  display: grid;
  grid-template-rows: 3;
}

.date-selector__mobile-nav {
  display: none;
}

button.active {
  background-color: #767575;
  color: #fff;
}

@media (max-width: 768px) {
  .date-selector__mobile-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 0;
  }

  .date-selector__mobile-nav-right {
    float: right;
  }
  .date-selector__wrapper {
    position: relative;
    min-width: 300px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .date-selector__wrapper__year {
    display: grid;
    flex-grow: 1;
    grid-template-columns: repeat(3, 1fr);
    z-index: 1;
  }

  .date-selector__wrapper__year__column-index {
  }

  .date-selector__wrapper__month {
    display: none;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }

  .date-selector__wrapper__month__column-index {
    display: none;
  }

  .date-selector__wrapper__day {
    display: none;
  }

  .date-selector__wrapper__day__column-index {
    display: none;
  }
}